.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  margin: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  font-size: 1.25em;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 16px;
  white-space: nowrap;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  margin: 0px 8px;
  color: #2F3E4E
}